body {
	margin: 0;
	padding: 0;
}

a{
	color: inherit;
	text-decoration:none;
}

a:hover
{
	color: DodgerBlue;
}

button[type=submit] {
	background:orange;
	color: black;
	width:17vw;
	min-width: 12rem;
	border-style: solid;
	border-color: black;
	box-shadow: none;
	border-radius: 0;
	font-size:1.5rem;
	cursor: pointer;
	padding: 0;
	height: 8vh;
}

.backToResults {
	background-color: orange;
	position: fixed;
	margin-left: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	top:calc(20vh + 3rem)
}

.printableVersion {
	background-color: orange;
	position: fixed;
	margin-left: 80%;
	top:20vh;
}

.addToList {
	position: fixed;
	margin-left: 105vh;
}

#addtolist{
	background-color: orange;
	color:white;
	border-color: white;
	margin-top: 10%;
}

.dropDown {
	position: fixed;
	margin-left: 80%;
	margin-top: 5vh;
	margin-bottom: 10px;
	top:calc(20vh + 6rem);
}

#dropdown{
	background-color: orange;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width:38vh;
	height: 8vh;
}

.dropDown select {
  display: none;
}

.select-selected {
  background-color: orange;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #6d6d6d transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #6d6d6d transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #6d6d6d;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: White;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.gif
{
	overflow: hidden;
	position: fixed;
	left:68%;
	top:6%;
}
.gif img
{
	width:6%;
	height:auto;
}
.textinfo
{
	position:absolute;
	left: 5vw;
	top: 15vh;
	font-size: 2rem;
}

#title
{
	margin-top: 5vh;
	font-weight: bold;
	color: black;
	font-size:3rem;
	margin-bottom: 3vh;
}

.container {
	display: flex;
	flex-direction: row;
}

.col {
	display: block;
}
			