@charset "UTF-8";

#header{
	font-size: 3rem;
	text-align: left;
	padding-left: 10%;
	margin-top: 3%;
}

#collage {
	overflow: hidden;
	position: relative;
	height: 30vh;
	width: 35vw;
	margin-left: 25vw;
	margin-right: 25vw;
}

.imageDiv{
	position:absolute;
	top:0;
	left:0;
	height:35vh;
	width:35vw;
}

.imageDiv img{
	max-height:100%;
	align-items:center;
}

.dropDown {
	position: absolute;
	width:15vw;
	right:5vw;
	top:21vh;
	font-size:1rem;
}

input[type=submit] {
	background:#FFD27F;
	color: white;
	width:15vw;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	font-size:1.5rem;
	cursor: pointer;
	padding: 0;
}

#manage_list{
	position: absolute;
	right:5vw;
	top:calc(21vh + 3rem);
}

#back_search{
	position: absolute;
	right:5vw;
	top:calc(21vh + 6rem);
}

.item {
	width: 100%;
	height: 5rem;
}

.item_format {
	display: inline;
	overflow: auto;
}

.divider{
	margin-top:0rem;
}

.Res_section1, .Res_section2, .Res_section3, .Res_section4{
	display:inline-block;
	margin-right: 1rem;
	margin-left: 1rem;
	height: 2.5rem;
	line-height: 2.5rem;

}

.Res_section1 {
	font-weight: 600;
}

.Rec_section1 {
	font-weight: 600;
}

.Res_section1, .Res_section3 {
	min-width: 10vw;
}

.Res_section2, .Res_section4 {
	max-width: calc(26vw - 5rem);
	overflow-x: auto;
	vertical-align: bottom;
}

.Res_section5{
	float:right;
	width: 5rem;
	font-size: 2rem;
	display:flex;
	justify-content:center;
	align-items:center;
	height: 2.5rem;
	line-height: 2.5rem;
	transform: translateY(-1.25rem);
}

.Rec_section1, .Rec_section2, .Rec_section3, .Rec_section4{
	display:inline-block;
	margin-right: 1rem;
	margin-left: 1rem;
	height: 2.5rem;
	line-height: 2.5rem;
}

.Rec_section1, .Rec_section3 {
	min-width: 15vw;
}

.Rec_section2, .Rec_section4 {
	max-width: calc(26vw - 5rem);
	overflow-x: auto;
	vertical-align: bottom;
}

#container{
	margin-top:3vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size:1rem;
	margin-bottom: 10vh;
}

.item{
	/*background-color: #FFD27F;*/
	margin-top:3vh;
}

.item:nth-child(odd) {border-color: black;
border-style: solid;}
.item:nth-child(even) {border-color: black;
	border-style: solid}

#column1 {
	position: relative;
	width:45%;
}

#column2 {
	position: relative;
	width:45%;
}

.sub_header{
	font-size:2rem;
	text-align: center;
}

a {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
}

a:hover {
	background-color: #ddd;
	color: black;
}

.previous {
	background-color: #f1f1f1;
	color: black;
}

.next {
	background-color: #FFD27F;
	text-decoration: none;
	color: white;
}