@charset "UTF-8";
body{
	font-family: Helvetica,sans-serif;
	background-color: #f5f5f5;
}

#header{
	font-family: Helvetica,sans-serif;
	font-size: 5rem;
	text-align: center;
	padding-top: 5vh;
	margin-bottom: 3vh;
}

#collage {
	overflow: hidden;
	position: relative;
	height: 50vh;
	width: 50vw;
	margin-left: 25vw;
	margin-right: 25vw;
}

.imageDiv{
	position:absolute;
	top:0;
	left:0;
	height:35vh;
	width:35vw;
}

.imageDiv img{
	max-height:100%;
	align-items:center;
}

.dropDown {
    position: absolute;
	width:15vw;
   	right:5vw;
   	top:21vh;
	font-size:1rem;
}

.dropDown select {
  display: none; 
}

.select-selected {
  background-color: White;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #6d6d6d transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #6d6d6d transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #6d6d6d;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: White;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

input[type=submit] {
    background:#A8A8A8; 
    color: white;
    width:15vw;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	font-size:1.5rem;
	cursor: pointer;
	padding: 0;
}

#manage_list{
	position: absolute;
   	right:5vw;
   	top:calc(21vh + 3rem);
}

#back_search{
	position: absolute;
   	right:5vw;
   	top:calc(21vh + 6rem);
}

.item {
	width: 100%;
	height: 5rem;
}

.item_format {
	display: inline;
	overflow: auto;
}

.divider{
	margin-top:0rem;
}

.Res_section1, .Res_section2, .Res_section3, .Res_section4{
	display:inline-block;
	margin-right: 1rem;
	margin-left: 1rem;
	height: 2.5rem;
	line-height: 2.5rem;
}

.Res_section1, .Res_section3 {
	min-width: 10vw;
}

.Res_section2, .Res_section4 {
	max-width: calc(26vw - 5rem);
	overflow-x: auto;
	vertical-align: bottom;
}

.Res_section5{
	float:right;
	width: 5rem;
	font-size: 2rem;
	display:flex;
	justify-content:center;
	align-items:center;
	height: 2.5rem;
	line-height: 2.5rem;
	transform: translateY(-1.25rem);
}

.Rec_section1, .Rec_section2, .Rec_section3, .Rec_section4{
	display:inline-block;
	margin-right: 1rem;
	margin-left: 1rem;
	height: 2.5rem;
	line-height: 2.5rem;
}

.Rec_section1, .Rec_section3 {
	min-width: 15vw;
}

.Rec_section2, .Rec_section4 {
	max-width: calc(26vw - 5rem);
	overflow-x: auto;
	vertical-align: bottom;
}

#container{
	margin-top:3vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size:1rem;
	margin-bottom: 10vh;
}

.item{
	background-color: #6D6D6D;
	margin-top:3vh;
}


.item:nth-child(odd) {background-color:#6D6D6D;}
.item:nth-child(even) {background-color:#A8A8A8;}


#column1 {
	position: relative;
	width:45%;
	background-color: #f5f5f5;	

}

#column2 {
	position: relative;
	width:45%;
	background-color: #f5f5f5;
}

.sub_header{
	font-size:3rem;
	text-align: center;
	background-color: #f5f5f5;
}