@charset "UTF-8";

body{
	background: url('home_background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 5rem;
	text-align: center;
	padding-top: 20vh;
	color: white;
}

#format{
	margin-top: 5vh;
	display: block;
	text-align: center;
}

#search{
	width: 25vw;
	font-size: 2rem;
}

.number{
	font-size: 2rem;
	width: 4rem;
}

.search{
	font-size: 2rem;
}

#login {
	-webkit-appearance: none;
	-moz-appearance: none;
	color: white;
	background-color:transparent;
	margin-left: 75%;
	margin-top: 25px;
	border: 0px;
	font-size: 25px;
}

#signup {
	-webkit-appearance: none;
	-moz-appearance: none;
	color: white;
	background-color:transparent;
	margin-top: 25px;
	font-size: 25px;
	border-style: solid;
	border-color: white;
}

#submit {
	size: 10vw;
	/*background-color: orange;*/
}

.hover_text{
	font-size: 1rem;
	color: white;
}

.hover_format{
	display: inline;
}

.hover_text{
	margin-left:1rem;
	margin-top:3rem;
	position:absolute;
	display: none;
}
.hover_format:hover .hover_text {
	display: inline-block;
}
