@charset "UTF-8";

body{
	font-family: 'Source Sans Pro', sans-serif;
	/*background: url("home_background.png");*/
	/*background-repeat: no-repeat;*/
}

#radius_dropdown {
	margin-left:1rem;
}

#header{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 5rem;
	text-align: center;
	padding-top: 20vh;
	/*color: honeydew;*/
}

#format{
	margin-top: 5vh;
	display: block;
    text-align: center;
}

#search{
	width: 25vw;
	font-size: 2rem;
}

#number{
	font-size: 2rem;
	margin-left:1rem;
	width: 4rem;
}

#submit {
	size: 10vw;
	/*background-color: orange;*/
}

#hover_text{
	font-size: 1rem;

}

#hover_format{
	display: inline;
}

#hover_text{
	margin-left:1rem;
	margin-top:1rem;
	position:absolute;
	display: none;
}
#hover_format:hover #hover_text {
  display: inline;
}