<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SearchResult</servlet-name>
  	<display-name>SearchResult</display-name>
  	<description></description>
  	<servlet-class>results.SearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchResult</servlet-name>
  	<url-pattern>/SearchResult</url-pattern>
  </servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>imhungry</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
